.casino {
  width: 100%;
  overflow: hidden;
}

//////
.link {
  background: #313d42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
  max-width: 1352px;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: 2px dashed rgb(144, 143, 143);
  line-height: 0;
  color: rgb(226, 226, 226);
  @media (max-width: 1088px) {
    flex-direction: column-reverse;
  }
  &-live {
    display: flex;
    padding: 30px 0;
    white-space: nowrap;
    letter-spacing: 0.2px;
    font-size: 11px;
    font-weight: 700;
    @media (max-width: 1088px) {
      padding: 10px 0;
      width: 100%;
      overflow-x: scroll;
    }

    .category-text-label {
      display: block;
      /*   > p {
        margin-left: 10px;
        cursor: pointer;
        margin-top: 15px !important;
        margin-bottom: revert !important;
        color: rgb(167, 167, 167);
        font-weight: bolder;
        font-size: 11px;

        @media (max-width: 665px) {
          min-width: 100px;
        }
      } */

      #label-cat {
        position: relative;
        left: 60px;
        top: -5px;
        text-transform: uppercase;
        color: #32e7de !important;
      }

      /* .heart.active,
      .link-category,
      .all-games.active,
      > p.active {
        color: rgb(255, 255, 255);
        opacity: 1;
        font-weight: bold;
        font-size: 17px;
      } */
    }

    .heart {
      padding: 10px;
      background: #4a5c64;
      border-radius: 50px;
      cursor: pointer;

      > i {
        display: grid;
        place-content: center;
      }
    }
  }

  .search-game {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      align-content: center;
      width: 200px;
      background: #4e5d63;
      padding: 20px;
      border-right: 1px solid rgb(153, 152, 152);
      @media (max-width: 1338px) {
        width: 80%;
      }
      > p,
      .fas.fa-search {
        margin: auto 0;
        padding: 0 5px;
        color: rgb(197, 197, 197);
        @media (max-width: 1338px) {
          padding: 0 2px;
        }
      }
    }

    .provider {
      display: flex;
      align-items: center;
      align-content: center;
      width: 200px;
      background: #4e5d63;
      padding: 20px;
      @media (max-width: 1088px) {
        min-width: auto;
      }
      > p,
      .fas.fa-search {
        margin: auto;
        padding: 0 5px;
        color: #c5c5c5;
        margin-left: 68px;
        @media (max-width: 1088px) {
          margin: unset;
        }
      }
    }
  }
}

.Slot {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 20px 0;

  #prov-item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .provider-text {
      color: #ececec;
      font-weight: bold;
    }

    > span {
      cursor: pointer;
      display: flex;
      font-weight: normal !important;
      > p {
        color: #ececec;

        margin: 0 15px;

        &.active {
          color: white;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
  }
  #more {
    display: block;
    text-align: center;
    cursor: pointer;
    > i {
      color: #22dbd1;
    }
    > p {
      color: #cccaca;
    }
  }
  > p:last-child {
    color: rgb(172, 173, 170);
    font-size: 12px;
    display: grid;
    place-items: center;
    place-content: center;
    min-height: 300px;
  }
  .item-sort {
    color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;

    > p:first-child {
      font-weight: bolder;
    }

    > span {
      display: flex;
      justify-content: space-evenly;
      > p {
        margin: 0 20px;
        color: #cccaca;
        &.active {
          color: #ffffff;
          font-weight: 600;
        }
      }
    }
  }

  .category-all-games {
    display: flex;
    flex-direction: column;
    .category-item-games.Popular {
      background-color: #47565c;

      > .categ-name {
        color: white;
        padding: 4px 5px;
        &::before {
          content: "";
        }
      }
    }

    .provider-item-games {
      font-weight: bolder;
      font-size: 22px;
      color: white;
      padding: 35px 0;

      #icon-text {
        display: flex;
        justify-content: space-between;

        > span {
          display: flex;
          #icon-provider {
            width: 50px;
            margin-bottom: 20px;
          }
          #categ-name {
            margin: auto 5px;
            line-height: 1px;

            > p:last-child {
              font-weight: normal;
              font-size: 14px;
            }
          }
        }

        #ref-slide {
          margin: auto 30px;
          > i {
            color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
            margin: 0px 10px;
          }
        }
      }
      .all-images-text {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .slick-slider {
          width: 1352px;
          button.slick-arrow.slick-prev,
          button.slick-arrow.slick-next {
            display: none !important;
          }
          > .slick-list {
            > .slick-track {
              > .slick-slide {
                > div {
                  > .all {
                    display: grid;
                    grid-template-columns: repeat(7, auto);
                    @media (max-width: 1380px) {
                      display: flex;
                      flex-flow: row wrap;
                    }
                    .images-name {
                      padding: 15px 0;
                      > img {
                        width: 260px !important;
                        height: 180px;
                        border-radius: 7% 7% 0% 0%;
                      }
                      .end-desc {
                        width: 260px;
                        display: flex;
                        align-items: center;
                        padding: 0px 13px;

                        color: white;
                        justify-content: space-between;
                        font-size: 13px;
                        background-color: #47565c;
                        border-radius: 0 0 20px 20px;
                        line-height: 0;

                        #text {
                          margin-top: 15px;
                          > p:first-child {
                            color: #56bfb6;
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                          }

                          > p:last-child {
                            color: #f5f5f5;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 24px;

                            &::before {
                              content: "Explore";
                            }
                          }
                        }

                        #icon {
                          > .fas.fa-angle-right {
                            display: grid;
                            place-content: center;
                            font-size: 20px;
                            color: black;
                            width: 35px;
                            height: 35px;
                            background-color: #56bfb6;
                            border-radius: 50px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .category-item-games {
      display: flex;
      flex-direction: column;
      font-weight: bolder;
      font-size: 22px;
      color: white;
      display: flex;

      > span {
        display: flex;
        justify-content: space-between;
        > .categ-name.tournaments {
          color: white;
          padding: 4px 5px;
          &::before {
            content: "ï­";
            font-family: "Font Awesome 5 Free";
            color: rgb(255, 29, 29);
            width: 30px;
            font-size: 30px;
            margin: 0 16px;
          }
        }

        #link {
          margin: auto 0;
          display: inline-block;
          min-width: 32px;
          border: none;
          border-radius: 16px;
          background-color: #32e7de;
          box-shadow: inset 0 -2px 0 0 rgb(0 0 0 / 25%), 1px 2px 4px 0 rgb(0 0 0 / 25%);
          color: rgba(0, 0, 0, 0.87);
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 16px;
          cursor: pointer;
          padding: 10px 16px;
          margin-right: 10px;

          > i {
            font-weight: bold;
          }
        }
      }

      .all-images-text {
        display: flex;
        flex-flow: wrap row;
        margin: 0 auto;

        > .all {
          display: grid;
          grid-template-columns: repeat(7, auto);
          @media (max-width: 1380px) {
            display: flex;
            flex-flow: row wrap;
          }

          .images-name {
            position: relative !important;
            margin: auto;
            padding: 0 4px;

            /*  &:hover > .casino-play-btn {
              display: block !important;
              z-index: 9999 !important;
              opacity: 1;
              position: absolute;

              top: 46px;
              opacity: 0 !important;
              left: 46px;
            }
*/
            .casino-play-btn {
              display: none;
              background-color: #22dbd1 !important;
            }
            > img {
              width: 180px;
              height: 180px;
              border-radius: 7%;
              overflow: hidden;
              /* &:hover {
                filter: brightness(0.7);
                transition: 0.2s linear;
                z-index: -1 !important;
              } */
            }
            > span {
              display: flex;
              flex-flow: row wrap;
              color: white;
              justify-content: space-between;
              padding: 0 3px;
              font-size: 13px;
              > i {
                line-height: 13px;
              }
            }
          }
        }
      }
    }
  }

  .category-item-games {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: flex-start;
    @media (max-width: 1380px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 30px 0;
    }

    > p {
      display: grid;
      place-content: center;
      place-items: center;
      color: white;
      position: relative;
      left: 0;
      right: 0;
    }
    .providers-item {
      display: grid;

      grid-template-columns: repeat(7, auto);
      @media (max-width: 1380px) {
        display: flex;
        flex-flow: row wrap;
        place-content: center;
      }
    }
    .images-name {
      display: block;
      margin: auto 6px;

      > img {
        width: 180px;
        height: 180px;
        border-radius: 7%;
      }

      > span {
        display: flex;
        flex-flow: row wrap;
        color: white;
        justify-content: space-between;
        padding: 0 3px;
        font-size: 13px;
        > i.fas.fa-heart {
          margin-top: 5px;

          &.added {
            color: #22dbd1;
          }
          &.deleted {
            color: #ffffff;
          }
        }
      }
    }
  }

  > p {
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 12px !important;
    margin-bottom: revert !important;
    font-size: 29px;
    color: rgb(238, 238, 238);
    line-height: 1;
  }
}
