.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999 !important;
  transition: 2s linear;

  .popupContainer {
    width: 377px;
    height: 303px;
    border-radius: 10px;
    background-color: #313d42;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomPopup 1s linear;

    @media (max-width: 660px) {
      width: 250px;
      height: 228px;
    }
    .titleCloseButtonLog {
      cursor: pointer;

      i.fas.fa-times {
        position: absolute;
        right: 7px;
        top: 5px;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
    }

    /*  @keyframes zoomPopup {
      0% {
        transform: scale(0);
        display: grid;
        place-content: center;
        place-items: center;
      }
      100% {
        transform: scale(1);
        display: grid;
        place-content: center;
        place-items: center;
      }
    }
 */

    //login

    .login--Popup {
      .logo {
        position: relative;
        top: 20px;

        > img {
          padding: 0 50px;
          filter: drop-shadow(2px 4px 6px #000);
          margin: 0 auto;
          display: block;
          height: 60px;

          @media (max-width: 660px) {
            height: 30px;
          }
        }
      }

      .form--login {
        display: grid;
        width: calc(100% - 138px);
        margin: 45px auto;

        @media (max-width: 660px) {
          width: calc(100% - 100px);
        }
        input[type="email"],
        input[type="text"],
        input[type="password"] {
          line-height: 30px;
          border: none;
          outline: none;
          margin-top: 5px;
          padding: 0 30px;

          @media (max-width: 660px) {
            width: 100%;
            line-height: 15px;
          }
        }

        .create--acc,
        .login--button {
          border: none;
          outline: none;
          margin-top: 20px;
          background-color: #f8ad1699;
          color: white;
          cursor: pointer;
          font-weight: 800;
          padding: 15px 0;
          @media (max-width: 660px) {
            padding: 3px 0;
            margin-top: 15px;
            font-size: 12px;
          }
          &:hover {
            background-color: #1ab7af;
          }
        }

        > p {
          color: white;
          text-align: end;
          margin-top: 15px;
          cursor: pointer;

          &:hover {
            color: #1ab7af;
          }
        }
      }
    }
  }

  .create--account--form {
    width: 377px;
    height: 332px;
    border-radius: 5px;
    background-color: #313d42;

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomPopup 1s linear;

    @media (max-width: 660px) {
      width: 250px;
      height: 228px;
    }
    .titleCloseButtonLog {
      cursor: pointer;

      i.fas.fa-times {
        position: absolute;
        right: 7px;
        top: 5px;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .login--Popup {
      .logo {
        position: relative;
        top: 20px;

        > img {
          padding: 0 50px;
          filter: drop-shadow(2px 4px 6px #000);
          margin: 0 auto;
          display: block;
          height: 60px;

          @media (max-width: 660px) {
            height: 30px;
          }
        }
      }

      .form--login {
        display: grid;
        width: calc(100% - 138px);
        margin: 45px auto;
        @media (max-width: 660px) {
          width: calc(100% - 100px);
        }
        input[type="email"],
        input[type="text"],
        input[type="password"] {
          line-height: 30px;
          border: none;
          outline: none;
          margin-top: 5px;
          padding: 0 30px;

          @media (max-width: 660px) {
            width: 100%;
            line-height: 15px;
          }
        }

        .create--acc,
        .login--button {
          border: none;
          outline: none;
          margin-top: 20px;
          background-color: #f8ad1699;
          color: white;
          cursor: pointer;
          font-weight: 800;
          padding: 15px 0;

          @media (max-width: 660px) {
            padding: 3px 0;
            margin-top: 15px;
            font-size: 12px;
          }
          &:hover {
            background-color: #1ab7af;
          }
        }

        > p {
          color: white;
          text-align: end;
          margin-top: 15px;
          cursor: pointer;

          &:hover {
            color: #1ab7af;
          }
        }
      }
    }
  }
}
