* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.promo-wrapper-max .promotion__max .grid-promo > .post-slot .card-item:nth-child(2n) .card .text-logo > img {
  position: relative;
  left: 15px;
}

::-webkit-scrollbar {
  background-color: #435258;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1ab7af;
}
